.footer {
    background: var(--color-hf);
    color: var(--color-bg);
    min-height: 262px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__nav-lists {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
}

.footer__nav-rights {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 137px;
}