main {
    flex: 1 1 auto;
}
.products {
    margin: 24px 0 72px;
}

.products__title {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 11px;
}

.products__category_selection {
    font-family: 'Ranade-Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    background-color: #342F54;
    padding: 16px 58px 16px 24px;
    border-radius: 100px;
    background-image: url(../images/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.2em;
}

.products__list {
    display: flex;
    max-width: 1260px;
    flex-wrap: wrap;
    margin-top: 36px;
}

.products__item {
    width: 290px;
    height: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(51, 46, 84, 0.3) 0px 7px 29px 0px;
}

.products__item-img {
    margin: 15px auto 0 auto;
}

.products__item-img img {
    width: 170px;
    height: 170px;
}

.products__item-info {
    margin: 20px;
    position: relative;
}

.products__item-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    margin-top: 10px;
}

.products__item-title {
    font-family: 'Ranade-Medium', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.products__item-link {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #0C111F;
    text-transform: uppercase;
    display: flex;
    justify-content: right;
    margin: 0 20px 10px 0;
}